

.details {
    max-width: 1400px;
    padding: 0;
    margin: 0;
    display: flex;
}

.container-details {
    display: flex;
    flex-direction: column;
}

.details-title {
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
    margin-left: -8em;
}

.details .restaurant-name {
    text-align: center;
}

.details p {
    margin-left: 6em;
}

.container-gallery-info {
    display: inline-block;
    position: relative;
}
  
.container-gallery-info .fa-star {
    position: relative;
    animation: bounce 0.5s infinite alternate;
}
  
@keyframes bounce {
    to {
      transform: translateY(-5px);
    }
}

.comment-title {
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
}

.create-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.only-comment {
    flex: 0 0 40%;
}

.cubespinner {
    margin-top: -100px;
}

.container-details {
    flex: 1 0 50%;
}

.ul-comment {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.ul-comment li {
    max-width: 400px;
    width: 100%;
    word-wrap: break-word;
    background-color: yellow;
    width: 46%;
}

.comment-paragraph {
    font-style: italic;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.comment-cube-right {
    width: 27%;
    margin-left: 830px;
    margin-top: -540px;
}

.comment-cube-left {
    margin-left: -250px;
}

.image-details {
    flex: 1 0 50%;
    /*ako e display flex snimkata stava mnogo malka display: flex;
    justify-content: center;
    align-items: center; */
}

.image-details img {
    width: 100%;
    height: auto;
}

.buttons-options {
    display: flex;
    justify-content: space-around;
}

.buttons-options-together {
    color: black;
    background-color: #f6f8fa;
    transition: background-color 0.3s ease; /* Плавен преход при смяна на цвета на фона */
}

.buttons-options-together:hover {
    background-color: #dfe4ea; /* Цвят на фона при hover */
}

.buttons-options-edit,
.buttons-options-delete {
    width: 100px;
    text-align: center;
    padding-top: 0.8em;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавен преход при смяна на цвета на фона и текста */
}

.buttons-options-edit:hover,
.buttons-options-delete:hover {
    background-color: #3498db; /* Цвят на фона при hover */
    color: white; /* Цвят на текста при hover */
}

.site-banner {
    overflow: hidden;
    border-radius: 0.3em;
    margin-top: 0.3em;
    position: relative;
}

.site-banner:before,
.site-banner:after {
    display: block;
    content: '';
}

.site-banner:before {
    padding-top: 56.25%;
}

.site-banner:after {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.3) inset;
}

.site-banner img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
  