
@keyframes bounce {
    to {
      transform: translateY(-5px);
    }
}

#details-title {
    position: relative;
    display: block;
    width: 980px;
    margin: 90px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}

#details-title>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background-color: whitesmoke;
}

.info-section>.text {
    margin-top: 30px;
    padding: 60px;
    height: 50%;
}

.restaurant-header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.restaurant-img {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 22px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.create-comment>.form>textarea {
    resize: none;
    width: 100px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 5px;
}

.details-comments {
    display: table-cell;
}

.create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 40%;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #6f5d9c;
    box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
}

.create-comment>label {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.create-comment-article {
    display: flex;
}

.create-comment-article .cube {
    margin-left: 2em;
    margin-top: 4em;
}

.info-section>.details-comments li {
    width: 800px;
    display: inline-block;
    position: static;
    margin: 20px auto 25px auto;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin-left: -14px;
    background: #f6f8fa;
    color: black;
}

.details-comments h2 {
    padding-left: 25px;
}

.details-comments .comment {
    width: 368px;
    height: auto;
    max-height: 104px;
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
}

.create-comment>.button:hover {
    background-color: #41425c;
    color: white;
    cursor: pointer;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #54557b;
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.button:hover {
    background-color: #6f5d9c;
    color: white;
}

.buttons-options {
    margin-top: 1em;
    padding-bottom: 2em;
}

.buttons-options a,
.buttons-options .delete {
    border-radius: 0.3em;
    padding: 12px 30px;
    cursor: pointer;
}

.buttons-options a {
    text-decoration: none;
    margin-left: 2em;
    margin-right: 5em;
}

.buttons-options .delete {
    border: none;
}

.create-comment-article input {
    border-radius: 0.3em;
    margin-top: 1em;
    font-size: 16px;
}

.create-comment-article textarea {
    min-width: 250px;
    max-width: 250px;
    min-height: 100px;
    max-height: 100px;
    margin-top: 1em;
}