.gallery-container {
    background-color: #2c3035;
    display: flex;
    flex-direction: column;
}

.gallery-container-title {
    text-align: center;
    padding-top: 3em;
    font-size: 2em;
    color: #f6f8fa;
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
}

.card {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.2em rgba(0,0,0,0.1);
    border: 2px solid #ccc;
}

.card img {
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card .gallery-title-mb {
    font-size: 1.5em;
    text-decoration: underline;
}

.card section {
    padding: 1em 1.2em;
}

.card .title_italic {
    margin: 0;
    padding-top: 1em;
    font-style: italic;
    font-size: 24px;
}

.card section {
    flex: 1 0 auto;
}

.card .details-paragraph {
    width: 300px;
    height: 50px;
    padding-top: 0.8em;
    background-color: #dee2ef;
    margin-left: 1.7em;
    margin-top: 2em;
    border-radius: 0.7em;
    transition: background-color 0.3s;
}
  
  .card .details-paragraph a {
    text-decoration: none;
    color: #767070;
    transition: color 0.3s;
    font-size: 1.2em;
    padding-left: 35px;
}
  
.card .details-paragraph:hover {
    background-color: #2c3035;
}

.card .details-paragraph a:hover {
    color: #f6f8fa;
}

.card .container-gallery-info {
    font-size: x-large;
}


