/* --> FARBEN <--  */

/*
Dunkel Grau : #524F51
Hell Grau : #666966
Dunkel Weiss : #F6F8FA
Schwarz : #100F0F
Blar : #4084FF

 */

/* --> FONTS <-- */



/* @font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Bold.ttf');
  src: local(''),
    url('../fonts/Oswald-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans.ttf');
    src: local(''),
      url('../fonts/OpenSans.ttf') format('truetype');
  }

@font-face {
  font-family: "OpenSans-Bold";
  font-style: bold;
  font-weight: 600;
  src: url('../fonts/OpenSans-Bold.ttf');
  src: local(''),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Oswald-e";
  font-style: oblique;
  font-weight: 700;
  src: url('../fonts/Oswald-Extra-LightItalic.ttf');
  src: local(''),
  url('../fonts/Oswald-Extra-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url('..fonts/Raleway-ExtraBold.ttf');
  src: local(''),
  url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: "Raleway-normal";
  font-style: bold;
  font-weight: 700;
  src: url('..fonts/Raleway-ExtraBold.ttf');
  src: local(''),
  url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: "Raleway-1";
  font-style: bold;
  font-weight: 900;
  src:url('../fonst/Raleway-ExtraBold.ttf');
  src: local(''),
  url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: "Padauk";
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/Padauk-Bold.ttf');
  src: local(''),
  url('../fonts/Padauk-Bold.ttf') format('truetype');
} */

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #F0F0F0, 0 0 10px #F0F0F0;
}

.btn-typ-1 {
  width: 130px;
  height: auto;
}

/* --> NAVIGATIONS-LEISTE <-- */

.wrapper {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #524F51;
  height: 25px;
  padding-left: 200px;
}

.wrapper > a > img {
  margin: 0;
  height: 25px;
  margin-top: 0;
  flex-grow: 1;
  background-color: black;
  padding-left: 1px;
}

.wrapper > .wagen {
  background-color: #524F51;
  flex-grow: 100;
  text-align: right;
  padding-right: 200px;
  margin-top: 1px;
  min-width: 225px;
}

/* --> ABOUT-US <-- */

.hauptmenu {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #F6F8FA;
  font-style: italic;
}

.hauptmenu > * {
  flex-grow: 10;
  text-align: center;
}

.hauptmenu > span {
  padding-top: 13px;
}

.logo {
  width: 200px;
  height: 105px;
  background-color: #F6F8FA;
  border-radius:0 0 60% 60%/0 0 15% 15%;
  padding-top: 20px;
  padding-left: 35px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 20px #666966;
  position: relative;
}

.logo-1{
  position: absolute;
  width: 220px;
  height: 78px;
  margin-left: auto;
  margin-right: auto;
}

.kl-logo {
  padding-bottom: 10px;
  font-size: 13px;
  text-decoration: overline;
  text-decoration-color: #E81111;
}

/* --> UNSERE-BURGER <-- */

.logo-burger {
  background-color: #666966;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.signature1 {
  flex: 1;
  height: auto;
  position: initial, relative;
  margin-left: auto;
  margin-right: auto;
}

.signature2 {
  flex: 1;
  height: auto;
  position: initial, relative;
  margin-left: auto;
  margin-right: auto;
}

.richtung-links {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 4%;
  border: 1px solid #F6F8FA;
  text-align: center;
  padding-top: 9px;
  font-weight: bold;
  color: #F6F8FA;
}

.richtung-rechts {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: 4%;
  border: 1px solid #F6F8FA;
  text-align: center;
  padding-top: 9px;
  color: #F6F8FA;
}

.bestellen {
  position: absolute;
  width: 150px;
  height: auto;
  color: #666966;
  bottom: 11.5%;
  border: 1px solid #100F0F;
  font-weight: bold;
  text-align: center;
  padding: 8px 13px 8px 13px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #100F0F;
  background-color: #F6F8FA;
}

/* DAS-SIND-WIR */

.flex-container {
display: flex;
width: 80%;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
align-items: center;
}

.leistungs-box {
  background-color: #F6F8FA;
  flex-basis: 40%;
  color: #666966;
  padding: 2rem 4rem;
  text-align: center;
  font-weight: bold;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.leistungs-box * p {
  margin-top: 2rem;
  line-height: 150%;
}

.leistung-box-empfohlen {
flex-basis: 40%;
min-height: 620px;
}

.btn-typ-1 {
  background-color: #3D3F45;
  border: 2px solid #3D3F45;
  color: #FFF;
  border-radius: 15%;
  padding: .4rem .5rem;
  transition: border .5s ease-in-out;
}

.btn-typ-1:hover {
  border: 2px solid #FFF;
  font-weight: normal;
}



/* --> MITT-LOGO <-- */

.mitt-logo {
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mitt-logo-L {
  margin-left: auto;
}

.mitt-logo-M {
  margin-left: auto;
  margin-right: auto;
}

.mitt-logo-R {
  margin-right: auto;
}

/* --> BESTELL-FORMULAR <-- */

.flex-container-chefs {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #3D3F45;
  flex-direction: row;
}

.best-form {
  width: 350px;
  height: 350px;
  background-color: #F6F8FA;
  margin-left: 150px;
  margin-top: 75px;
  min-width: 350px;
}

.flex-container-chefs > img {
  width: 626px;
  height: 241px;
  margin-left: 123px;
  margin-top: 129.5px;
}

.flex-container-chefs .best-form-gericht {
  width: auto;
  height: 50px;
  color: #F6F8FA;
  margin-left: 154px;
  position: absolute;
  margin-top: 25px;
  font-size: 1.3rem;
}

#kontakt-formular input {
  width: 70%;
  padding: .5rem;
  font-size: 0.7rem;
  margin: 28px 5px 10px 50px;
}

.btn-typ-2 {
  width: auto;
  border: 1px solid #100F0F;
  margin-left: 117.5px;
  margin-top: 20px;
  background-color: #3D3F45;
  color: #F6F8FA;
  font-weight: bold;
  font-size: 1.1rem;
}

/* --> UNTERE-LOGO <-- */

.untere-logo {
  display: flex;
  width: 100%;
  height: 170px;
  background-color: #00BFFF;
  justify-content: center;
  position: relative;
  font-size: .8rem;
}

.untere-logo .untere-logo-text {
  width: 500px;
  height: auto;
  position: absolute;
  line-height: 1.5;
}

.untere-logo p {
  margin-top: 50px;
  text-align: center;
}

.untere-logo  img {
  width: 40px;
  height: 35px;
}
/* --> FOOTER <-- */

.footer {
  color: grey;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #F6F8FA;
  font-size: .8rem;
}

.footer .title-P {
  flex-grow: 10;
  color: grey;
  margin-left: 100px;
}

.footer > p, .footer-end {
  flex-grow: .1;
}

.footer .footer-end {
  margin-right: 200px;
}


/* --> MEDIA-QUERRY <-- */



@media (max-width: 1276px) {

  .wrapper > .wagen {
    padding-right: 0;
  }

  .logo, .logo-1, .kl.logo {
    display: none;
  }

  .bestellen {
    position: absolute;
    width: 150px;
    height: auto;
    color: #666966;
    bottom: 2%;
    border: 1px solid #100F0F;
    font-weight: bold;
    text-align: center;
    padding: 8px 13px 8px 13px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #100F0F;
    background-color: #F6F8FA;
  }

  .flex-container-chefs > img {
    width: 626px;
    height: 241px;
    flex-direction: column;
  }

}

@media (max-width: 1269px) {

  .bestellen {
    position: absolute;
    width: 150px;
    height: auto;
    color: #666966;
    bottom: 2%;
    border: 1px solid #100F0F;
    font-weight: bold;
    text-align: center;
    padding: 8px 13px 8px 13px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #100F0F;
    background-color: #F6F8FA;
  }

}

@media (max-width: 1000px) {

  .logo-text  {
    font-size: 16px;
    top: 20%;
    left: 10%;
  }

  .logo-text-2 {
    font-size: 16px;
    top: 20%;
    right: 10%;
  }

}

@media (max-width: 778px)  {

  .signature {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }



  .footer .title-P {
    margin-left: 0;
  }

  .footer .footer-end {
    margin-right: 0;
  }

}

@media (max-width: 700px) {

  .wrapper {
    padding-left: 0;
  }

  .wrapper > .wagen {
    background-color: #524F51;
    width: 100%;
    min-width: 225px;
  }

}

@media (max-width: 600px) {

  .container .wir {
    flex-direction: column;
    margin: 10px 0;
  }

  .container .wir:nth-child(even) {
    flex-direction: column;
  }

  .container .wir .img-food,
  .container .wir .content {
    width: 100%;
  }

  .container .wir .content {
    height: 200px;
  }

}
