.ontainer {
  width: 100%;
  height: 700px;
  background-color: #333739;
  display: flex;
  flex-direction: column;
}

.anmelden__tok {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #333739;
}

.anmelden {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #fff;
  padding-top: 1.5em;
}

.formular {
  width: 500px;
  height: auto;
  background-color: #ffffff;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.ontainer .formular {
  display: flex;
  justify-content: center;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 50%;
}

.formular input {
  text-align: left;
}

.ontainer-with-cube #kontakt-formular .kontakt-formular-center input{
  width: 300px;
}

.ontainer-with-cube .formular input {
  text-align: left;
}

.ontainer-with-cube .formular textarea {
  min-width: 370px;
  max-width: 370px;
  min-height: 100px;
  max-height: 100px;
}

.errorMessage {
  color: red;
  font-size: 0.5em;
}

.inputError {
  border: 1px solid red;
}

.styles {
  color: red;
}
