.gallery-cards {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.gallery-cards p {
    padding-left: 24px;
}

.container-gallery {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(120, 141, 141);
    flex-wrap: wrap;
}

.container-gallery .container-gallery-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2em;
    text-align: start;
    overflow: hidden;
}

.gallery-title .title_justify {
    text-align: center;
}

.container .gallery-title {
    text-align: center;
    margin: 0;
    padding: 30px;
    font-family: "Raleway";
    font-weight: bold;
}

.container-gallery .container-gallery-info {
    color: #191d20;
    font-weight: bold;
}

.container-gallery .container-gallery-img {
    width: 200px;
    height: 200px;
    padding: 20px;
}


