.wrapper-img {
  display: flex;
  background-color: #ffffff;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.img-1,
.img-2 {
  width: 50%;
}

.img-1 img,
.img-2 img {
  height: 363px;
  width: 683px;
}